<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
    <form method="POST" action="/auth/signup">
        <label for="username">Username: </label><input type="text" name="username" />
        <br/>
        <label for="name">Name: </label><input type="text" name="name" />
        <br/>
        <label for="password">Password: </label><input type="password" name="password" />
        <br/>
        <button>Sign Up</button>
    </form>
</body>
</html>